/* Color Styles */
$lightblue: rgb(218, 233, 254);
$blacktext: rgb(63, 54, 59);
$bluetext: rgb(24, 71, 132);
$colorred: red;

$light_primary: #D9D9D9;
$pink: #D879F1;
$purple_basic: #6C4572;
$purple_light: #81568C;
$purple_medium: #563958;

/* Font Styles */
$basefont: 'Roboto', sans-serif;